body {
	margin: 0;
	background: #222;
	font-weight: 300;
	font-family: 'Noto Sans', sans-serif;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
	background: #55d6aa;
}

header::after{
	content: '';
	display: table;
	clear: both;
}

.left-side {
	float: left;
}

.left-side ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.left-side li {
	display: inline-block;
	margin-right: 50px;
	padding-top: 15px;
	padding-bottom: 10px;
	
	position: relative;
}

.left-side a {
	color: #444;
	text-decoration: none;
	text-transform: uppercase;
}

.left-side a::hover{
	color: #000;
}

.left-side a::before {
	content: '';
	display: block;
	height: 3px;
	width: 100%;
	background-color: #444;
	
	position: absolute;
	top: 0;
	width: 0%;
	
	transition: all ease-in-out 250ms;
}

.left-side a:hover::before{
	width: 100%;
}




.right-side{
	float: right;
}


.search-box {
 position: static; 
 width:100px;
 background: #2f3640;
 height: 16px;
 border-radius: 40px;
 margin-top: 10px;
 padding-top: 5px;
 padding-bottom: 5px;
 float: right;
 padding-right: 120px;

 display: flex;

}




.search-button {
 color: #e84118;
 float: right;
 width: 20px;
 height: 20px;
 border-radius: 50%;
 background: #2f3640;
 top:20px;
 display: flex;
 margin-left: 10px;
 margin-bottom: 100px;
 justify-content: center;
 align-items: center;
 color: #55d6aa;
 cursor: pointer;
}

.search-button > i {
 font-size: 20px;
 
}

.search-text {
 border: none;
 margin-left: 7px;
 width: 70px;
 background: none;
 outline: none;
 float: left;
 padding: 0;
 color: white;
 font-size: 16px;
 line-height: 40px;
 width: 170px;
 font-weight: bold;
}﻿